/* components/ui/location/location.css */

.location {
  padding: 72px 110px 90px;
  background-color: #fff;
}

.location__title {
  margin: 0 0 76px;

  color: #2a5510;
  font-size: 31px;
  font-weight: 700;
}

.location__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 85px;
  row-gap: 78px;
}

.location__item {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.location__icon {
  width: 42px;
  min-width: 42px;

  color: #2a5510;
  font-size: 38px;
  line-height: 1;
}

.location__item-title {
  margin: 0 0 14px;

  color: #2a5510;
  font-size: 18px;
  font-weight: 700;
}

.location__text {
  max-width: 410px;
  margin: 0;

  color: #3f3f3f;
  font-size: 14px;
  line-height: 1.2;
}